[Unit]
Description=Thumpy's Websocket Server
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/thump --port 80 --certs /etc/letsencrypt/live/thumpy.space
Restart=always
User=tri
Group=tri

[Install]
WantedBy=multi-user.target
